<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kpop</title>
</head>
<body background="/static/1c8336a627d24cac400698cf49c10f2c.jpg" id="moji">
    <h1>kpop</h1>
    <h2>一覧</h2>
    <div class="box">
        <table border="1">
            <tr>
                <th>曲名</th>
                <th>アーティスト</th>
                <th>リリース</th>
                <th>リンク</th>
            </tr>
            {% for kpop in kpops %}
                <tr>
                    <td>{{kpop.songname}}</td>
                    <td>{{kpop.artist}}</td>
                    <td>{{kpop.arrival_day}}</td>
                    <td><input type="button" onclick="location.href='{{kpop.link}}'" value="リンク" id="link"></td>
                </tr>
            {% endfor %}


        </table>
    </div>
<form >
    <input type="button" onclick="history.back()" value="戻る" id="modoru">
</form>
</body>
</html>
<style>
#moji {
    color: aliceblue;
}
</style>